:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --another-text-color: #ffffff;
    --main-bgr-color: #FFFFFF;
    --secondary-bgr-color: #2F303A;
    --section-bgr-color: #F5F4FA;
    --akcent-color: #2196F3;
}

body {
    background-color: var(--main-bgr-color);
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

/* navigation */

.web {
    color: var(--akcent-color);
}

.studio {
    color: #000;
}

.nav .link {
    color: var(--title-text-color);
}

.nav .link:hover,
.nav .link:focus {
    color: var(--akcent-color);
}

.contacts .link {
    color: var(--primary-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--akcent-color);
}

/* hero */

.hero {
    background-color: var(--secondary-bgr-color);
}

.hero .title {
    color: var(--another-text-color);
}

.hero-btn {
    background-color: var(--akcent-color);
    color: var(--another-text-color);
}

/* features */

.features .list {
    color: var(--title-text-color);
}

/* work */

.title {
    color: var(--title-text-color);
}

/* comand */

.name {
    color: var(--title-text-color);
}

/* footer */

.footer {
    background-color: var(--secondary-bgr-color);
}
.footer-studio {
    color: var(--another-text-color);
}

.address {
    color: var(--another-text-color);
}

.footer .link {
    color: rgba(255, 255, 255, 0.6);
}

.footer .link:hover,
.footer .link:focus {
    color: var(--akcent-color);
}