:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --another-text-color: #ffffff;
    --main-bgr-color: #FFFFFF;
    --secondary-bgr-color: #2F303A;
    --section-bgr-color: #F5F4FA;
    --akcent-color: #2196F3;
}

body {
    background-color: var(--main-bgr-color);
    color: var(--primary-text-color);

    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}

/* navigation */

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.web {
    color: var(--akcent-color);
}

.studio {
    color: #000;
}

.nav, .contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav .link {
    color: var(--title-text-color);

    text-decoration: none;
}

.nav .link:hover,
.nav .link:focus {
    color: var(--akcent-color);
}

.contacts .link {
    color: var(--primary-text-color);

    text-decoration: none;
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--akcent-color);
}

/* hero */

.hero {
    background-color: var(--secondary-bgr-color);
}

.hero .title {
    color: var(--another-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-btn {
    background-color: var(--akcent-color);
    color: var(--another-text-color);

    cursor: pointer;

    font-weight: 700;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* features */

.features-list {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* work */

.title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

/* comand */

.comand {
    background-color: var(--section-bgr-color);
}

.name {
    color: var(--title-text-color);

    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.profession {
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/* footer */

.footer {
    background-color: var(--secondary-bgr-color);
}
.footer-studio {
    color: var(--another-text-color);
}

.address {
    color: var(--another-text-color);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
}

.footer .link {
    color: rgba(255, 255, 255, 0.6);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer .link:hover,
.footer .link:focus {
    color: var(--akcent-color);
}

/* portfolio */

.filter-btn {
    background-color: var(--section-bgr-color);
    color: var(--title-text-color);

    cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--akcent-color);
    color: var(--another-text-color);
}

.examples .title {
    color: var(--title-text-color);
}